@tailwind base;
@tailwind components;
@tailwind utilities;

.reserve-form{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 30px;
    
}
/* html, 
body {   
  height: 100%; 
}  */
#root { 
  display: flex; 
  flex-direction: column-reverse;  
}
/* .footer {   
  flex-shrink: 0; 
} */

/* Dropdown */
.dropdown {
  position: relative;
}
.dropdown-menu {
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10; 
  min-width: 190px; 
  background-color: #FFFFFF; 
  border: 1px solid #E5E7EB; 
  border-radius: 0.375rem; 
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.dropdown-menu p,
.dropdown-menu button {
  padding: 0.5rem 1rem;
  color: #374151; /* Set your desired text color */
  transition: background-color 0.3s ease, color 0.3s ease;
}


@media (max-width: 767px) {
  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 1150px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1350px;
  }
}

.card {
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 1rem;
}


main h1{
  color: white;
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
}
main p{
  color: white;
  margin-top: 10px;
}
main button{
  padding: 15px;
  border-radius: 30px;
  margin-top: 10px;
  width: 240px;
  box-shadow: rgba(103, 232, 249, 0.705) 0px 22px 70px 4px;
  /* box-shadow: rgb(103 232 249) 0px 22px 70px 4px; */
}
